body {
  background-image: url(background-image.jpg);
  background-size: cover;
  background-position: center center;
  background-color: grey;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#center-text {
  text-align: center;
  font-family: fantasy;
  font-size: 25px;
  padding-top: 310px;
  padding-bottom: 18px;
  color: white;
}

.btn-warning {
  margin: auto;
  display: block;
  font-weight: 400;
  border-radius: 15px;
}

.btn-warning:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

#mc_embed_signup {
  margin: auto;
  display: block;
}